{% extends "base.html" %}

{% block title %}{{ article.title }} | {{ super() }}{% endblock %}

{% block bodyclass %}article {{ article.slug }}{% endblock %}

{% block content %}
    <h1 class="title">
        <a href="{{ pagename }}" rel="bookmark" title="Permalink to {{ article.title }}">{{ article.title }}</a>
    </h1>
    <p class="semibold">Posted {{ article.date.strftime('%B %d, %Y') }}</p>
    {{ article.content }}

    {% if article.tags %}
    <p class="tags">
        This post is filed under
        {% for tag in article.tags %}
            {% if not loop.first and article.tags|count > 2 %}, {% endif %}
            {% if loop.last and article.tags|count > 1 %} and {% endif %}
            <a href="/tag/{{ tag }}.html">{{ tag }}</a>{% endfor %}.
    </p>
    {% endif %}

    <hr />

    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'dmpayton'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

{% endblock %}
