<!DOCTYPE html>

<html>
<head>
    <title>{% block title %}{% endblock %}{{ SITENAME }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="icon" href="{{ SITEURL }}/theme/img/favicon.png" />

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic,700italic|Open+Sans:400italic,600italic,700italic,400,600,700" type="text/css" />
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/normalize.css" type="text/css" />
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/pygments-friendly.css" type="text/css" />
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/dmpayton.css" type="text/css" />

    <link href="{{ SITEURL }}/{{ FEED|default(FEED_RSS)|default(TAG_FEED_RSS) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }}" />

    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

</head>

<body class="{% block bodyclass %}{% endblock %}">

<a href="{{ GITHUB_URL }}" id="github-ribbon">
    <img src="{{ SITEURL }}/theme/img/github-ribbon.png" alt="Fork me on Guthub!" />
</a>

<div id="wrapper">
    <header id="header">
        <h1><a href="/">{{ AUTHOR }}</a></h1>
        <nav>
            <ul>
                <li><a href="/archives.html">Blog</a></li>
                <li><a href="/pages/projects.html">Projects</a></li>
                <li><a href="/pages/about.html">About</a></li>
                <!--<li><a href="/pages/resume.html">Résumé</a></li>-->
            </ul>
        </nav>
    </header>

    <!-- Grumble grumble... -->
    <div class="clear"></div>

    <div id="main">
        <div id="content" class="{% block content_class %}{% endblock %}">
            {% block content %}{% endblock %}
        </div>
    </div>

    <footer id="footer">
        <div class="copyright">
            <span>Copyright 2012 Derek Payton</span><br />
            <a href="http://creativecommons.org/licenses/by/3.0/us/" rel="nofollow">Some Rights Reserved</a>
        </div>
        <div class="gittip">
            <iframe style="border: 0; margin: 0; padding: 0;"
                src="https://www.gittip.com/dmpayton/widget.html"
                width="48pt" height="20pt"></iframe>
        </div>
    </footer>
</div>

{% block extrafoot %}{% endblock %}
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("{{ GOOGLE_ANALYTICS }}");
pageTracker._setDomainName(".dmpayton.com");
pageTracker._trackPageview();
} catch(err) {}
</script>
</body>
</html>
