{% extends 'base.html' %}

{% block bodyclass %}home{% endblock %}

{% block content %}
<p>I'm a programmer who specializes in building internet stuff with Django.</p>
<p>The best way to reach me is through
    <a rel="nofollow" href="mailto:derek.payton@gmail.com">email</a>, though
    I can also be found on
    <a rel="nofollow" href="http://github.com/dmpayton">Github</a>,
    <a rel="nofollow" href="http://twitter.com/dmpayton">Twitter</a>, and
    <a rel="nofollow" href="http://news.ycombinator.com/user?id=dmpayton">Hacker News</a>
</p>
{% endblock %}
